@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

body {
  font-family: Roboto;
}

.news {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 20px;
  border: 1px solid #dee2e6;
}

.navLogo {
  display: flex;
  justify-content: center;
}

.img-pig {
  height: 115px;
  width: 140px;
  background-image: url(pig-money.png);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}

/* -----------------------buttons----------------------------------- */
.btnEdit {
  border-radius: 30px;
  background-color: rgb(90, 141, 236);
  color: #fff;
  outline: 0;
}

.btnDelete {
  border-radius: 30px;
  background-color: rgb(233, 47, 87);
  color: #fff;
  outline: 0;
}

.btnSave {
  border-radius: 30px;
  background-color: rgb(12, 134, 12);
  color: #fff;
  outline: 0;
}

.btnCancel {
  border-radius: 30px;
  background-color: rgb(240, 178, 6);
  color: #fff;
  outline: 0;
}

/*Err*/
.hidden {
  visibility: hidden;
}

/* -----------------------short----------------------------------- */
.b-r-red {
  border: 1px solid red;
}

.c-red {
  color: red;
}

.c-green {
  color: rgb(37, 138, 6);
}

.c-y {
  color: rgb(241, 206, 8);
}

.fs-40 {
  font-size: 40px;
}

.f-w {
  font-weight: bold;
}

.mg-t-20 {
  margin-top: 20px;
}

.mg-t--5 {
  margin-top: -5px;
}

.t-c {
  text-align: center;
}
/* -----transpozycja kolumn na wiersze dla małych ekranów------- */
@media screen and (max-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
}
