@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

body {
  font-family: Roboto;
}

.news {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 20px;
  border: 1px solid #dee2e6;
}

.navLogo {
  display: flex;
  justify-content: center;
}

.img-pig {
  height: 115px;
  width: 140px;
  background-image: url(pig-money.png);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}

/* -----------------------buttons----------------------------------- */
.btnEdit {
  border-radius: 30px;
  background-color: rgb(90, 141, 236);
  color: #fff;
  outline: 0;
}

.btnDelete {
  border-radius: 30px;
  background-color: rgb(233, 47, 87);
  color: #fff;
  outline: 0;
}

/* -----------------------short----------------------------------- */
.b-r-red {
  border: 1px solid red;
}

.c-red {
  color: red;
}

.c-y {
  color: rgb(241, 206, 8);
}

.fs-40 {
  font-size: 40px;
}

.f-w {
  font-weight: bold;
}

.mg-t-20 {
  margin-top: 20px;
}

.t-c {
  text-align: center;
}
